{%- comment %}

  Promo
  ------------------------------------------------------------------------------

  Usage:

  {% include 'promo',
              p_id: { string } - required
              p_type: { number } - 1, 2, 3, 4, 5 - optional
              p_content_max_width: { number } - optional - only applied above $screen-md-min
              p_content_alignment: { string } - [ 'left', 'right', 'center' ] - optional - defaults to center
              p_image: { image }
              p_image_small: { image }
              p_frame_ratio: { string } - optional - see frames.scss
              p_frame_ratio_small: { string } - optional - see frames.scss - defaults to frame_ratio if set
              p_eyebrow: { string } - optional
              p_title: { string } - optional
              p_text: { string } - optional
              p_cta_url: { url }
			  p_cta_image_url: { url }
              p_cta_text: { string }
  %}

{% endcomment -%}



{% if p_type != blank and "1 2 3 4 5" contains p_type %}
  {% assign promo_type = p_type %}
{% endif %}

{% if p_frame_ratio != blank and p_frame_ratio_small == blank %}
  {% assign p_frame_ratio_small = p_frame_ratio %}
{% endif %}

{% case p_content_alignment %}
  {% when 'left' %}
    {% assign text_align_class = '' %}
  {% when 'right' %}
    {% assign text_align_class = 'text-right' %}
  {% else %}
    {% assign text_align_class = 'text-center' %}
{% endcase %}
{% comment %} End Defaults {% endcomment %}

<style type="text/css">
  {% if p_frame_ratio != blank %}
    {% if p_image != blank %}
      #promo-{{ p_id }} .frame {
        background-image: url({{ p_image | img_url: '1600x' }});
      }
    {% endif %}
    {% if p_image_small != blank or p_image != blank %}
      @media (max-width: 767px) {
        #promo-{{ p_id }} .frame {
          {% if p_image_small != blank %}
            background-image: url({{ p_image_small | img_url: '900x' }});
          {% elsif p_image != blank %}
            background-image: url({{ p_image | img_url: '900x' }});
          {% endif %}
        }
      }
    {% endif %}
  {% endif %}
  {% if p_content_max_width != blank %}
    #promo-{{ p_id }} .promo__text-wrapper  {
      max-width: {{ p_content_max_width | append: 'px' }};
    }
  {% endif %}

</style>

{% capture promo_classes %}
  promo promo--layout
  {% if promo_type != blank %}
    promo--type-{{ promo_type }}
  {% endif %}
{% endcapture %}


<div id="promo-{{ p_id }}" class="{{- promo_classes -}}" style="background-image: url('{{ p_image | img_url: '1600x'    }}');">
  
  <div class="promo__col promo__col--text desktop-content">
    <div class="promo__col-inner">
      <div class="promo__text-wrapper{% if text_align_class != blank %} {{ text_align_class }}{% endif %}">
        {% if p_eyebrow != blank %}
          <div class="promo__eyebrow promo__eyebrow--dotted">{{ p_eyebrow }}</div>
        {% endif %}
        {% if p_title != blank %}
          <h1 class="promo__title">{{ p_title }}</h1>
        {% endif %}
        {% if p_text != blank %}
          <div class="promo__text">{{ p_text }}</div>
        {% endif %}
        {% if p_cta_url != blank and p_cta_text != blank %}
          <a href="{{ p_cta_url }}" class="promo__cta btn btn-primary">{{ p_cta_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

  
  <div class="promo__col promo__col--text mobile-content">
    <div class="promo__col-inner">
      <div class="promo__text-wrapper{% if text_align_class != blank %} {{ text_align_class }}{% endif %}">
        {% if p_eyebrow != blank %}
          <div class="promo__eyebrow promo__eyebrow--dotted">{{ p_eyebrow }}</div>
        {% endif %}
        {% if p_title != blank %}
          <h1 class="promo__title">{{ p_title }}</h1>
        {% endif %}
        {% if p_text != blank %}
          <div class="promo__text">{{ p_text }}</div>
        {% endif %}
        {% if p_cta_url != blank and p_cta_text != blank %}
          <a href="{{ p_cta_url }}" class="promo__cta btn btn-primary">{{ p_cta_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>